.form-update-product {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}
.form-update-product input {
  padding: 20px;
  margin: 10px;
}
.btn-update-product {
  text-align: center;
}
.btn-update-product button {
  padding: 5px;
  font-size: 20px;
  border-style: none;
  background-color: burlywood;
  border-radius: 5px;
  cursor: pointer;
}
