@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
body {
  font-family: "Mulish", sans-serif;
}
.nav-bar {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
}
